In [20]:

import numpy as np
import pandas as pd

In [23]:
#Median houshold income, in 2017 dollars. 2013-2017 from census.gov

data_from_censusGov = [['Median Houshold Income', 57782, 36593, 52782,79781,62008, 76244]] #
 
income = pd.DataFrame(data_from_censusGov, columns = ['','New York city, New York','Bronx County (Bronx Borough), New York','Kings County (Brooklyn Borough), New York','New York County (Manhattan Borough), New York','Queens County (Queens Borough), New York','Richmond County (Staten Island Borough), New York']) #
income.head()

,,"New York city, New York","Bronx County (Bronx Borough), New York","Kings County (Brooklyn Borough), New York","New York County (Manhattan Borough), New York","Queens County (Queens Borough), New York","Richmond County (Staten Island Borough), New York"
0,Median Houshold Income,57782,36593,52782,79781,62008,76244